# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Fichier de configuration local contenant des secrets.
# Il est recommandé de versionner un `config.example.json` à la place.
INTERFACES/config.json