# Environnement virtuel
.venv/

# Fichiers compilés Python
__pycache__/
*.pyc

# Dossier de données de la sandbox (généré localement)
# Contient les fichiers téléversés par l'utilisateur dans le Chargeur Universel.
LOGIQUES/SANDBOX_DATA/

# Fichier de roadmap personnel
ROADMAP.md